# it describes how project AutoPR-AI works
# last update (06.02.25)
fastapi==0.111.0
uvicorn==0.29.0
pymongo==4.7.0
motor==3.4.0
PyGithub==2.6.1
PyJWT==2.10.1
python-dotenv==1.0.1
requests==2.32.3
openai==1.14.1
